<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Admir lista proizvoda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
            <div id="allProducts">
                <h3>Lista svih proizvoda</h3>
                   <tr> 
							<th> Id proizvoda   </th>
							<th> Ime            </th>
							<th> Cena           </th>
                                                        <th> Kategorija     </th>>
                   </tr>
                   <div>
                       <tr th:each="product : $allProducts}">
				<td th:text="${product.productId}"/>
				<td th:text="${product.name}"/>
				<td th:text="${product.price}"/>
                                <td th:text="@{product.category}"/>
		      </tr>
                   </div>
            </div>
    </body>
</html>
