<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
    <head>
        <title>Admirova glavna strana</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <h3>Napravi proizvod</h3>
        <div id="makeProduct" align="center">
            <form th:action="@{//createNewProduct}" method="post">
                <input type="text" name="name" th:placeholder="Name"> <br>
                <input type="integer" name="price" th:placeholder="Price"> <br>
                <button name="Submit" value="Product" type="Submit" th:text="Kreiraj"></button>
            </form>    
        </div>
    </body>
</html>



             <div id="logForm" align="center">
                 <form th:action="@{/login}" method="post">
                     <input type="text" id="username" name="username" th:placeholder="Username"> <br>
                     <input type="password" id="password" name="password" th:placeholder="Password"> <br>
                     <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
                 </form>    
             </div>