<!DOCTYPE html>
<html>
    <head>
        <title>Admirova glavna strana</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Napravi proizvod</h3>
        <div>
            
        </div>
    </body>
</html>



             <div id="logForm" align="center">
                 <form th:action="@{/login}" method="post">
                     <input type="text" id="username" name="username" th:placeholder="Username"> <br>
                     <input type="password" id="password" name="password" th:placeholder="Password"> <br>
                     <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
                 </form>    
             </div>