<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <title>Glavna stranica</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="static/css" href="/main.css"/>
    </head>
    <body>
             <div align="center">
                 <form th:action="@{/login}" method="post">
                     <input type="text" id="username" name="username" th:placeholder="Username"> <br>
                     <input type="password" id="password" name="password" th:placeholder="Password"> <br>
                     <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
                 </form>    
             </div>
    </body>
</html>
